<div class="jumbotron">
  <%= link_to 'New', new_hours_event_path, class: "btn btn-primary btn-sm float-right" %>
  <h1>Hours Worked</h1>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr class="h5">
        <th>Date</th>
        <th>Hours</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @hours_events.order(hours_worked_date: :desc).each do |hours_event| %>
        <tr>
          <td><%= hours_event.hours_worked_date.strftime("%m/%d/%Y") %></td>
          <td><%= hours_event.hours_worked %></td>
          <td>
            <%= link_to 'Delete', hours_event,
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-danger btn-sm float-right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


